/* aqui pongan los estilos  */
 body {
	margin: 2% 5% 5% 5%;
	align-content: center;
	justify-content: center;
	background: #ffe2bc;
} 
h1 {
	color:#ffb367;
	font-family:sans-serif;
	text-align:center;
	padding: 2%;
	transition-duration: 0.4s;
}
#left,#right{
	align-items: center;
	margin: 2%;
	direction: flex;
	flex-direction: column;
	align-content: center;
	padding: 3% 1% 0% 1%;
	text-align: center;
	text-justify: auto;
}
#butterfly{
	display:flex;
}
#slider,#pp{
	display: block;
	margin-left: auto;
	margin-right: auto 
}
p {
	font-size:18px;
	text-align:center;
	color:#3F0255;
	margin:35px;
}
#container{
	display: flex;
}
ul {
	font-size:18px;
	text-align:left;
	color:#3F0255;
}
#oc{
	border: 5px solid  #ffee00;
	border-radius: 10px;
	padding: 2%;
	text-transform: uppercase;
	margin:4%;
	transition-duration: 0.4s;
	background-color: white;
}
button{
	color:#4F3B7A;
	display:flex;
	font-size: large;
	size: 10px;
	border-radius: 8px;
	margin:1%;
	padding: 1.5%; 
  	border: 2px solid #CA7888;
  	transition-duration: 0.5s;
  	cursor: pointer;
	margin-left:35%;
}
button:hover{
	background: #CA7888;
	color: #fff;
}
