/* aqui pongan los estilos  */
 body {
	margin: 5%;
	align-content: center;
	justify-content: center;
	background: #ffe2bc;
} 
h1 {
	color:#ffb367;
	font-family:sans-serif;
	text-align:center;
	padding: 2%;
	transition-duration: 0.4s;
}
#left,#right{
	align-items: center;
	margin: 2%;
	direction: flex;
	flex-direction: column;
	align-content: center;
	padding: 5% 1% 0% 1%;
	text-align: center;
	text-justify: auto;
}
#slider,#pp{
	display: block;
	margin-left: auto;
	margin-right: auto 
}
p {
	font-size:18px;
	text-align:center;
	color:#3F0255;
	margin:50px;
}
#container{
	display: flex;
}
ul {
	font-size:18px;
	text-align:left;
	color:#3F0255;
}
 body {
	align-content: center;
	justify-content: center;
	background: #ffe2bc;
} 
h1 {
	color:#ffb367;
	font-family:sans-serif;
	text-align:center;
	padding: 2%;
	transition-duration: 0.4s;
}
#left,#right{
	align-items: center;
	margin: 2%;
	direction: flex;
	flex-direction: column;
    align-content: center;
}
#right{
	padding: 5% 1% 0% 1%;
	text-align: left;
	text-justify: auto;
}
#slider,#pp{
	display: block;
	margin-left: auto;
	margin-right: auto 
}
p {
	font-size:18px;
	text-align:center;
	color:#3F0255;
	margin:50px;
}
#container{
	display: flex;
}
ul {
	font-size:18px;
	text-align:left;
	color:#3F0255;
	margin: 0%,2%;
}
#ecuations{
	text-align: center;
	justify-content: center;
}
#oc{
	border: 5px solid  #ffee00;
	border-radius: 10px;
	padding: 2%;
	text-transform: uppercase;
	margin:4%;
	transition-duration: 0.4s;
	background-color: white; 
}
nav.navbar{
	background-color:#58b4ae;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	left:0; right:0; top:0;
}
