/* aqui pongan los estilos  */
 body {
	margin: 5%;
	align-content: center;
	justify-content: center;
	background: #ffffb3;
} 
h1 {
	background:rgba(0, 221, 155, 0.877);
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align:center;
	border-radius: 2rem;
	border-style: double;
	padding: 2%;
	transition-duration: 0.4s;

}
p {
	font-size:18px;
	text-align:center;
	color:#3F0255;
	margin:50px;
}
/* p:first-child{
	text-transform: uppercase;
} */
ul {
	font-size:18px;
	text-align:left;
	color:#3F0255;
	margin: 0%,2%;
}
#ecuations{
	text-align: center;
	justify-content: center;
}
#oc{
	border: 5px solid  #ffee00;
	border-radius: 10px;
	padding: 2%;
	text-transform: uppercase;
	margin:4%;
	transition-duration: 0.4s;
	background-color: white; 
}
#pp:hover {
	box-shadow: 0 5px 15px rgb(246, 250, 3);
	text-transform: capitalize;
	background-color: #ffee00;
   }
#color{
	display: flex;
	justify-content:center;
}
#color button{
	font-size: large;
	size: 100px;
	border:5px, double;
	border-radius: 8px;
	margin:3%;
	padding: 5%;
	/*background-color: white;*/ 
  /*border: 2px solid #008CBA;*/
  transition-duration: 0.4s;
  cursor: pointer;
}
#ep button:hover{
	background-color: #FF6675;
	color: white;
}
#trd button:hover{
	background-color: #97DB6E;
	color: white;
}
#plp button:hover{
	background-color: #FFC16C;
	color: white;
}
#bh button:hover{
	background-color: #C5AFB3;
	color: white;
}
#ep button{
	border: 2px solid #A80400;
}
#trd button{
	border: 2px solid #4EC33B;
}
#plp button{
	border: 2px solid #C3971B;
}
#bh button{
	border: 2px solid #2A5E6C;
}
