/* aqui pongan los estilos  */
 body {
	margin: 5%;
	align-content: center;
	justify-content: center;
	background: #ffe2bc;
} 
h1 {
	color:#ffb367;
	font-family:sans-serif;
	text-align:center;
	padding: 2%;
	transition-duration: 0.4s;
}
#left,#right{
	align-items: center;
	margin: 2%;
	direction: flex;
	flex-direction: column;
	align-content: center;
	padding: 10% 1% 0% 1%;
	text-align: center;
	text-justify: auto;
}
#butterfly{
	display: flex;
}
#speed{
	position:absolute;
    transform: rotate(90deg);
}
#slider,#pp{
	display: block;
	margin-left: auto;
	margin-right: auto 
}
p {
	font-size:18px;
	text-align:center;
	color:#3F0255;
	margin:50px;
}
#container{
	display: flex;
}
ul {
	font-size:18px;
	text-align:left;
	color:#3F0255;
}
 body {
	align-content: center;
	justify-content: center;
	background: #ffe2bc;
} 
h1 {
	color:#ffb367;
	font-family:sans-serif;
	text-align:center;
	padding: 2%;
	transition-duration: 0.4s;
}
#left,#right{
	align-items: center;
	margin: 2%;
	direction: flex;
	flex-direction: column;
    align-content: center;
}
#right{
	padding: 5% 1% 0% 1%;
	text-align: left;
	text-justify: auto;
}
#slider,#pp{
	display: block;
	margin-left: auto;
	margin-right: auto 
}
p {
	font-size:18px;
	text-align:center;
	color:#3F0255;
	margin:50px;
}
#container{
	display: flex;
	padding-top: 100px ;
}
ul {
	font-size:18px;
	text-align:left;
	color:#3F0255;
	margin: 0%,2%;
}
#ecuations{
	text-align: center;
	justify-content: center;
}
#oc{
	border: 5px solid  #ffee00;
	border-radius: 10px;
	padding: 2%;
	text-transform: uppercase;
	margin:4%;
	transition-duration: 0.4s;
	background-color: white; 
}
nav.navbar{
	background-color:#58b4ae;
	margin-left:auto;
	margin-right:auto;
	margin-top:auto;
	left:0; right:0; top:0;
}
var pp = true;//play y pausa
var c;
var radiux = 15;
var rad = false;
var bool= true;//pausar y reanudar la rotacion automatica
function mecanismo(){
  if(pp){
    document.getElementById("ad").innerHTML = "play";
    noLoop();
    pp = false;
  }else{
    document.getElementById("ad").innerHTML = "pausa";
    loop();
    pp = true;}}
    let x;
function base(){
  x=0;
  background(220);
  line(-width/2,0,width/2,0);
  line(0,-height/2,0,height/2);
  text("y",width/2+20,20);
  text("x",width-20,height/2-20);
  fill(0);
  triangle(width-15,height/2-7,width-15,height/2+7,width,height/2);
  triangle(width/2+7,15,width/2-7,15,width/2,0);
}
function setup() {
  canvas = createCanvas(500,500);
  canvas.parent("iluminati");
  base();
}

function draw() {
  point((x*10)+(width/2),(sin(x)*40)+(height/2));
  point((-x*10)+(width/2),(-sin(x)*40)+(height/2));
  x+=0.03;
  if(x>width/2/10){
    base();
  }
}